<div class="content-wrapper">
    <div class="">
    <button type="" class="btn btn-primary" (click)="displayJobworkdata()">Add New Material</button>
    </div>
    <section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
    <div class="col-sm-11">
    <h1>My Job Work Material</h1>
    </div>
    </div>
    </div>
    </section>
    
    <section class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-10">
    <div class="card card-primary">
    <form role="form">
    <div class="card">
    <p-table #dt class="table table-hover" [columns]="cols" [value]="service.list" [style]="{'text-align': 'center', 'font-size': '0.7em'}"
    [responsive]="true" selectionMode="single" [(selection)]="selectedItemrej" [paginator]="true" [resizableColumns]="true" [rows]="5" [showCurrentPageReport]="true" totalRecords="totalRecords" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-striped">
    <ng-template pTemplate="caption">
    <div style="text-align: right">
    <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
    <input type="text" class="form-control" pInputText placeholder="Global Filter"
    (input)="dt.filterGlobal($event.target.value, 'contains')">
    </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
    <tr>
    <th *ngFor="let col of columns" [pSortableColumn]="col.field" [class]="col.field"
    pResizableColumn>
    {{col.header}}
    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
    ariaLabelDesc="Activate to sort in descending order"
    ariaLabelAsc="Activate to sort in ascending order">
    </p-sortIcon>
    </th>
    </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pd let-columns="columns">
    <tr [pSelectableRow]="pd">
    <td *ngFor="let col of columns" class="ui-resizable-column">
    <span *ngIf="col.field=='view'">
    <button class="btn-primary" (click)="ViewDetail(pd.id)"><i class="fa fa-eye"></i></button>
    <button class="btn-default" (click)="onDelete(pd.id)"><i class="fa fa-trash"></i></button>
    </span>
    <!-- <span *ngIf="col.field=='delete'">
    <i class="far fa-trash-alt far-lg text-danger" (click)="onDelete(pd.id)"></i>
    <button (click)="onDelete(pd.id)">Delete</button>
    </span> -->
    <span *ngIf="col.field!='view'">{{pd[col.field]}}</span>
    </td>
    </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
    </p-table>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </section>
    </div>