.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.col-md-12, .col-sm-6{
    padding-left: 0px;
    padding-right: 0px;
} 

  .my-calender>.fc-header-toolbar{
    display: none !important;
  }
  .fc-toolbar, .fc-header-toolbar {
    margin: 0;
    padding: 0rem!important;
  }
  
  .fc-toolbar h2 {
    font-size: 0.5em;
    margin: 0;
  }
  
  .calendar-parent {
    height: 100vh;
  }
  .btn-sn{
  padding: 0rem;
  }
  .btn-custom {
    padding: 3px;
    margin: 3.3px;
    font-size: 11px;
  }
  .btn-custom-td {
    font-size: 9px;
  }
  .btn-custom-in-grp {
    padding: 5px 5px 5px 5px;
    font-size: 13px;
  }
  .fix-height{
    height: 32px !important;
    font-size: 14px;
  }
  .tbl-th{
    position: sticky;
    background: blue;
    color: white;
    top: 0px;
    z-index: 1;
  }
  
  