<div class="container-fluid fill">
    <div class="row">
        <div class="col-md-6 offset-md-1">
            <div class="card align-middle">
                
				<form #form='ngForm' autocomplete="off" (submit)="OnSubmit(form)" class="box">       
                    <h1>Login</h1>
					<p class="text-muted"> Please enter your login and password!</p> 
					<input type="text" name="username" #username="ngModel" [(ngModel)]="service.userData.username"  class="form-control" placeholder="username">		
					<input type="password" name="password" #password="ngModel" [(ngModel)]="service.userData.password" class="form-control" placeholder="password">
                    <input type="submit" value="Login"  class="btn login_btn">  
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>             
                </form>
            </div>
        </div>
    </div>
</div>
