.in-label{
    font-size: 13px;
}
.table td, .table th {
    padding: 0.3rem;
    font-size: 12px;

}
.content-wrapper{
    min-height: 100vh!important;
}
.card-header,.card-footer {
    padding: .3rem 1.25rem;
}
.form-control {
    height: calc(2.25rem - 2px);
    padding: .1rem .3rem;
}
input.ng-valid {
  border-color: grey;
}