.fc-toolbar {
  padding: 15px 20px 10px;
}
.my-calender>.fc-header-toolbar{
  display: none !important;
}
.fc-toolbar, .fc-toolbar.fc-header-toolbar{
  padding : 0rem!important;
}
.fc-toolbar h2 {
  font-size: 0.5em;
  margin: 0;
}

.fc-scroller {
  height: auto!important;
  overflow-y: auto;
}
.calendar-parent {
  height: 100vh;
}
.btn-sn{
padding: 0rem;
}
.btn-custom {
  padding: 3px;
  margin: 3.3px;
  font-size: 11px;
}
.btn-custom-td {
  font-size: 9px;
}
.btn-custom-in-grp {
  padding: 5px 5px 5px 5px;
  font-size: 13px;
}
.fix-height{
  height: 32px !important;
  font-size: 14px;
}
.tbl-th{
  position: sticky;
  background: blue;
  color: white;
  top: 0px;
  z-index: 1;
}
.fc-event {
  font-size: 0.50em;
}

