<!-- <button class="btn btn-primary">Submit</button><br><br>

1  <i class="fa fa-address-card fa fa-bar-chart" aria-hidden="true"></i><br><br>

2  <i class="fa fa-bar-chart card2-icon" aria-hidden="true"></i><br><br>

3  <i class="fa fa-clock-o f-14 m-r-10" aria-hidden="true"></i>

<p-tabView>
    <p-tabPanel header="Header 1">
       Content 1
    </p-tabPanel>
    <p-tabPanel header="Header 2">
        Content 2
    </p-tabPanel>
    <p-tabPanel header="Header 3">
        Content 3
    </p-tabPanel>
</p-tabView>


< -->


<app-home></app-home>