<!-- <select class=" custom-select" name="myselect" #mySelect="ngModel" [(ngModel)]= "this.year"
(change)="onYearChange($event.target.value)">
<option value="0">--Select Year--</option>
<option *ngFor="let y of yservice.yearlist" value="{{y.year}}">
  {{ y.year }}
</option>
</select> -->


<select class=" custom-select" name="myselect" #mySelect="ngModel" [(ngModel)]= "this.year"
  (change)="onYearChange($event.target.value)">
  <option value="0">--Select Year--</option>
  <option *ngFor="let y of yservice.yearlist" value="{{y.year}}">
    {{ y.year }}
  </option>
</select>
