/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";


/* body{
  position: fixed;
} */
input.ng-touched.ng-invalid {
  border-color: red;
}

input.ng-valid {
  border-color: green;
}

.green-icon {
  color: #28a745;
}
.red-icon {
  color: #dc3545;
}

#toast-container > div {
  opacity: 1;
}

table tr:hover {
  cursor: pointer;
}

.fa-cog {
  color: white;
}


